@model IEnumerable<Labb4Book.Models.CustomerBook>
@{
    ViewData["Title"] = "Rented books";
}
<h1 class="display-4">Rented books</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-dark">Rent a book</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
               Id
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookRentDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookReturnDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.CutsomerFirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Book.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookRentDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BookReturnDate)
                </td>
                <td>
                    <a asp-action="Update" asp-route-id="@item.CustomerBookId"class="btn btn-outline-warning">Edit</a>
                    <a asp-action="Return" asp-route-customerId="@item.Customer.CustomerId" asp-route-bookId="@item.Book.BookId" class="btn btn-outline-primary">Return</a>
                </td>
            </tr>
        }
    </tbody>
</table>