@model Labb4Book.Models.CustomerBook
@{
    ViewData["Title"] = "Return";
}
<h1 class="display-4">Return book</h1>
<div>
    <form method="post" asp-action="Return">
        <input type="hidden" name="customerId" value="@Model.Customer.CustomerId" />
        <input type="hidden" name="bookId" value="@Model.Book.BookId" />
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                Book Id
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.FkBookId)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Book.Title)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Book.Title)
            </dd>
            <dt class="col-sm-2">
                Customer name
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Customer.CutsomerFirstName)
            </dd>
        </dl>
        <div>
            <button type="submit" class="btn btn-danger">Return</button>
            <a asp-action="Index" class="btn btn-primary">Back to List</a>
        </div>
    </form>
</div>
